<div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signup my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Sign Up</h5>
            <form class="form-signup" [formGroup]="signupForm" (ngSubmit)="signup()">
              <div class="form-label-group">
                <input type="text" id="inputName" class="form-control" placeholder="Name" formControlName="name"
                  [ngClass]="{
                    'is-invalid': signupForm.controls['name'].dirty && signupForm.controls['name'].invalid
                  }" />
                <label for="inputName">Name</label>
                <div class="invalid-feedback">
                  Name is mandatory
                </div>
              </div>
  
              <div class="form-label-group">
                <input type="text" id="inputSurname" class="form-control" placeholder="Surname"
                  formControlName="surname" [ngClass]="{
                    'is-invalid': signupForm.controls['surname'].dirty && signupForm.controls['surname'].invalid
                  }" />
                <label for="inputSurname">Surname</label>
                <div class="invalid-feedback">
                  Surname is mandatory
                </div>
              </div>
  
              <div class="form-label-group">
                <input type="radio" name="gender" value="male" formControlName="gender" />
                <span>Male</span>
                <input type="radio" name="gender" value="female" formControlName="gender" />
                <span>Female</span>
              </div>
  
              <div class="form-label-group">
                <input type="email" id="inputEmail" class="form-control" placeholder="Email address"
                  formControlName="email" [ngClass]="{
                    'is-invalid': signupForm.controls['email'].dirty && signupForm.controls['email'].invalid
                  }" />
                <label for="inputEmail">Email address</label>
                <div class="invalid-feedback">
                  <span *ngIf="signupForm.controls['email'].hasError('required')">
                    Email is mandatory
                  </span>
                  <span *ngIf="signupForm.controls['email'].hasError('email')">
                    Please introduce a valid email
                  </span>
                </div>
              </div>
  
              <div class="form-label-group">
                <input type="password" id="inputPassword" class="form-control" placeholder="Password"
                  formControlName="password" [ngClass]="{
                    'is-invalid': signupForm.controls['password'].dirty && signupForm.controls['password'].invalid
                  }" />
                <label for="inputPassword">Password</label>
                <div class="invalid-feedback">
                  <span *ngIf="signupForm.controls['password'].hasError('required')">
                    Password is mandatory
                  </span>
                  <span *ngIf="signupForm.controls['password'].hasError('invalidPassword')">
                    Password must contain a letter and a digit
                  </span>
                </div>
              </div>
  
              <div class="form-label-group">
                <input type="date" id="inputDate" class="form-control" placeholder="Birth date"
                  formControlName="birth" [ngClass]="{
                    'is-invalid': signupForm.controls['birth'].dirty && signupForm.controls['birth'].invalid
                  }" />
                <label for="inputDate">Birth date</label>
                <div class="invalid-feedback">
                  Introduce a valid date
                </div>
              </div>
  
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit"
                [disabled]="signupForm.invalid">
                Sign up
              </button>
              <hr class="my-4" />
              <button class="btn btn-lg btn-cancel btn-block text-uppercase" (click)="cancel()">
                Cancel
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  